.new {
    /* border: 1px solid #ccc; */
    /* background: #f4f4f4; */
    /* padding: 20px; */
    /* margin-bottom: 10px; */
    cursor: pointer;
    font-size: 1.25;
    /* box-sizing: border-box; */
    /* /* margin: 0 !important; */
    /* padding: 0 !important;
    border:none !important;  */
    /* text-align: center; */

    /* width: 50%; */
    /* display: flex; */
    display: inline-block;
    /* text-align: left !important; */
    
    /* flex-direction: row; */
    /* margin: 0 auto; */
    /* margin-top: 30px; */
    /* justify-content: space-between; */
    /* margin-left: 100px;
    /* margin-right: 100px; */
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }